# Modo local:
# - Node en tu maquina
# - Mongo en tu maquina o expuesto por Docker en localhost:27017
PORT=3000
MONGO_USER=admin
MONGO_PASSWORD=secret
MONGO_DBNAME=pc3_db
MONGO_HOST=localhost

# Opcional: si defines MONGO_URI, la app usara esta cadena completa.
# Ejemplo local: MONGO_URI=mongodb://localhost:27017/pc3_db
# Ejemplo Docker interno: MONGO_URI=mongodb://admin:secret@mongo:27017/pc3_db?authSource=admin
