<header class="p-4 bg-dark text-white mb-4">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">    
            <div class="container text-center">
              <div class="row align-items-start">
                
                  <h5 style="color:rgb(255, 221, 0) ;"class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                   The Backend Developer, is the dark side of the force
                  </h5>
                
                <div class="col">  
                 
                </div>
                <div class="col">
                  <a href="/API/peli/getAllPelis"
                  ><button type="button" class="btn btn-success btn-sm">Peliculas</button></a
                >
                <a href="/API/peli/getAllPersonajes"
                  ><button type="button" class="btn btn-success btn-sm">Personajes</button></a
                >
                <a href="/"
                ><button type="button" class="btn btn-success btn-sm">Home</button></a
              >
                </div>
                  </a>
                </li>
            </div>
        </div>
    </div>
</header>


